head{
    align: items left

}
button
{
background-color: #4169e1;
color: white;
border: none;
border-radius: 35px;
}
.box-contato {
    width:100%;
    float:left;
  }
  .form-contato {
    
    width: 100%;
    float:left ;
    font-family: 'Lato';
    font-weight: 400;
    padding: 1em;
  }
  .form-contato label { 
      width:100%; 
      float:left; 
      margin-bottom:10px; 
  }
  .form-control, input, select, textarea {
    
    padding: 15px 15px;
    width: 100%;
    background-color: #ffffff;
    color: #555555;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    outline:none ;
  }
  .btn {
      font-family: inherit;
      font-size: 1.2em;
      color: #ccc;
      background: transparent;
      text-decoration: none;
      padding: 0.8em 2em;
      display: inline-block;
      margin-right: 5px;
      letter-spacing: 3px;
      font-weight: 700;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      cursor: pointer;
      width:100%;
  }
  .btn:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  /* Setas */
  .btn-setas {
      
      border-radius: 6px;
      border: 2px solid #555353;
      color: #555353;
      overflow: hidden;
  }
  .btn-setas:active {
      border-color: #00dfe4;
      color: #00dfe4;
  }
  .btn-setas:hover {
      background: #555353;
      color:#fff; 
  }
  .btn-setas:before {
      position: absolute;
      height: 50%;
      font-size:0.7em;
      line-height: 3.5;
      color: #fff;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  /* Seta A */
  .seta-a:before {
      left: 60%;
      top: 50%;
      opacity: 0;
  }
  .seta-a:hover:before {
      left: 59%;
      opacity: 1;
  }
  .form-endereco {
    
    width: 100%;
    float: left;
    padding: 1em;
  }
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
  }
  .list-item {
    line-height: 3;
    color: #aaa;
  }
  .contact-text {
    
    font-size: 1em;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .social-media-list li a {
    
    color: #fff;
    text-decoration: none;
  }
  .social-media-list li {
    position: relative; 
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px 3px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: #555353;
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #b0b0b0;
    transition: all .3s ease-in-out;
  }
  .social-media-list li:hover {
    background-color: #fff; 
  }
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  .social-media-list li:hover a {
    color: #b0b0b0;
  }
  /*Responsivo*/
  /*960PX BREAKPOINT*/
  @media (min-width:60em){
      .form-contato  { width: 50%; }
      .form-endereco { width: 50%; }
   
  }
  /*1280PX BREAKPOINT*/
  @media (min-width:80em){
      .form-contato  { padding: 2em; }
      .form-endereco { padding: 2em; }
   
  }