@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
head{
    box-align: items left

}

.cabeçalho{
    width: 100%;
    height: 35%;
    border-bottom: 80px solid #f4A944;
    border-top: 10px solid #F4A944;
    background-color: #F4A944;
    text-align: center;
}

button
{
background-color: #4169e1;
color: white;
border: none;
border-radius: 35px;
}

.meio{
    text-align: center;
}